proto/.git

.idea/
.vscode/
*.iml

*.exe
*.dll
*.so
*.dylib
*.out

*.test
bin/
build/
dist/

*.log
*.env
*.env.*
!.env.example
*.local

vendor/

*.pb.go
*.pb.gw.go
**/__pychache__/
*/__pychache__/

.DS_Store
Thumbs.db

*.log

*.tmp
*.swp
*.swo
*~