annotated-types==0.7.0
bcrypt==4.2.1
beautifulsoup4==4.12.3
dataclasses==0.6
google==3.0.0
grpcio==1.68.1
grpcio-tools==1.68.1
protobuf==5.29.1
psycopg2-binary==2.9.10
pycryptodome==3.21.0
pydantic==2.10.3
pydantic-settings==2.7.0
pydantic_core==2.27.1
PyJWT==2.10.1
python-dotenv==1.0.1
six==1.17.0
soupsieve==2.6
SQLAlchemy==2.0.36
typing_extensions==4.12.2
